.hdr {
  background: $blue;
  color: $white;
  padding: 1em;
  overflow: auto;
}

.logo {
  width: 80%;
  float: left;

  @include respond-to('medium') {
    width: 50%;
  }

  @include respond-to('large') {
    width: 25%;
  }
}
