.nav {
  list-style: none;
}

.menu {
  font-size: 2em;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  background: $blue;

  // mobile styling
  position: fixed;
  width: 100%;
  height: 0;
  overflow: hidden;

  // TODO: consider a more supported approach
  display: flex;
  align-items: center;

  @include respond-to('large') {
    font-size: 1.3em;
    position: initial;
    width: auto;
    height: auto;
    float: right;
  }
}

  .menu__ul {
    margin: 0 auto;
  }

    .menu__li {
      margin: 0.75em 0;

      @include respond-to('large') {
        display: inline-block;
        margin: 0 0.75em;
      }
    }

      .menu__a {
        color: $white;
        text-decoration: none;

        &.is-active {
          text-decoration: underline;
        }

        @include respond-to('large') {
          &:hover {
            // TODO: see why I can't extend this
            // @extend .stroke--inv;
            box-shadow: inset 0 -4px 0 $white;
          }
        }
      }
