.page {
  margin: 0 auto 3em;
  width: 100%;
  max-width: $size-page;
}

.page-hdr {
  padding: 1.5em;
}

.ttl {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;

  // TODO: maybe put this to mobile only
  // TODO: check with Rachel the best size: 1 or 2px
  letter-spacing: 1.5px;

  @include respond-to('medium') {
    text-align: center;
    font-size: 1.8rem;
  }
}

.meta {
  font-weight: bold;
}
