// VARIABLES
$color-text: $black;
$color-emph: $blue;
$color-link-hv: $blue;

// MAIN FONT: SPACE MONO
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');


/* ========================================================================== */
html {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 14px;

  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;

  @include respond-to('medium') {
    font-size: 16px;
  };
}


// HEADERS
h1,
h2,
h3,
h4 {
  text-rendering : optimizelegibility;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  text-decoration: underline;
}


// TEXTUAL
p,
ul,
ol,
pre,
blockquote {
  margin: 0 0 1.5em;
}

pre {
  padding: 1em 0.75em;
  vertical-align : bottom;
  line-height: 1.75; // Ask Rachel if this is good
}

pre,
code {
  background: $gray;
}

blockquote {
  background: $gray;
  padding: 1.5em 1em;
  border-left: $border;
  font-style: italic;

  p { display: inline; }
}




// EXTRAS
// -- typographic helpers
.bold { font-weight: bold; }
.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
.emph { color: $blue; }
.fnormal { text-decoration: none; }

// -- typographic space
.breath { margin-right: 1em; }

// -- styled list underscore
.litem {
  &:before {
    content: "_";
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 3px;
  }
}

// -- data list with table design
.remarks {
  overflow: auto;
  width: 100%;

  dt, dd {
    float: left;
    margin-bottom: 0.75em;
  }

  dt {
    clear: left;
    width: 18%;
    margin-right: 2%;
  }

  dd {
    width: 80%;
  }
}
