// VARIABLES
$color-text: $black;
$color-emph: $blue;
$color-link-hv: $blue;

// MAIN FONT: SPACE MONO
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');


/* ========================================================================== */
html {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 14px;

  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
}
