{{ partial "header/header.html" . }}

<main class="page">
  <header class="pad mrgb">
    <h1 class="ttl">
      <span class="stroke">{{ .Title }}</span>
    </h1>
  </header>

  <div class="box pad mrgb txt">
    {{- .Content -}}
  </div>

  <div class="wrap accordion">
    <div class="accordion__item pad">
      <header class="accordion__hdr">
        <h2>my website</h2>
        <i class="icon tgl">{{ readFile "static/icons/arrow.svg" | safeHTML }}</i>
      </header>
      <div class="accordion__bdy txt">
        Aqui vai algumm texto sobre este projeto muito legal
      </div>
    </div>

    <div class="accordion__item pad">
      <header class="accordion__hdr">
        <h2>cachalote</h2>
        <i class="icon tgl">{{ readFile "static/icons/arrow.svg" | safeHTML }}</i>
      </header>
      <div class="accordion__bdy txt">
        Aqui vai algumm texto sobre este projeto muito legal
      </div>
    </div>
    
    <div class="accordion__item pad">
      <header class="accordion__hdr">
        <h2>symposium</h2>
        <i class="icon tgl">{{ readFile "static/icons/arrow.svg" | safeHTML }}</i>
      </header>
      <div class="accordion__bdy txt">
        Aqui vai algumm texto sobre este projeto muito legal
      </div>
    </div>
    
    <div class="accordion__item pad">
      <header class="accordion__hdr">
        <h2>webspy</h2>
        <i class="icon tgl">{{ readFile "static/icons/arrow.svg" | safeHTML }}</i>
      </header>
      <div class="accordion__bdy txt">
        <p>Quis fugiat sint exercitation enim consectetur ut duis. Minim duis officia do ullamco occaecat mollit nulla minim incididunt do aute tempor veniam. Ea esse irure culpa ipsum excepteur in adipisicing sunt quis. Ut magna duis ex Lorem deserunt exercitation irure anim exercitation aliquip voluptate ea sunt. In anim excepteur duis incididunt ut sunt nulla dolore enim. Ex ut duis sit magna magna.</p>

        <p>In Lorem dolore labore velit consectetur qui aliqua aliqua fugiat aliquip esse. Pariatur excepteur duis pariatur commodo eu. Qui veniam adipisicing do labore do dolor anim cupidatat adipisicing voluptate in laborum commodo. Ad Lorem occaecat consequat culpa nostrud id aliqua incididunt exercitation dolor. Consequat occaecat sunt non mollit sunt consectetur occaecat labore ipsum Lorem.</p>

        <p>Elit fugiat dolor mollit aliqua sunt quis sint occaecat ullamco. Sint magna tempor fugiat aliquip est tempor amet tempor sunt cillum. Nulla ipsum enim dolore veniam. Mollit mollit ad nisi aute minim et id.</p>
      </div>
    </div>

    <div class="accordion__item pad">
      <header class="accordion__hdr">
        <h2>fd8-torrent</h2>
        <i class="icon tgl">{{ readFile "static/icons/arrow.svg" | safeHTML }}</i>
      </header>
      <div class="accordion__bdy txt">
        Ad reprehenderit mollit minim cupidatat minim irure aliquip. Lorem aute nostrud cupidatat velit ullamco. Non veniam pariatur mollit fugiat excepteur. Mollit ipsum eu mollit cupidatat minim adipisicing. Esse quis incididunt sit ex ea sit fugiat dolore.
      </div>
    </div>
  </div>

  <footer>
  </footer>

</main>

{{ partial "footer/footer.html" . }}
