// BASE STUFF
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1024px),
  'huge': (min-width: 1440px)
);

// SIZES
$size-page: 860px;
$size-small-box: 650px;

// COLORS
$blue:  rgb(42,53,244);
$gray:  rgb(243,244,244);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// STROKES
$border: 2.5px solid $black;
