{{ partial "header/header.html" . }}

<main class="page">
  <section class="sec">
    <header class="sec__hdr">
      <h2 class="ttl"><span class="stk">Formação</span></h2>
    </header>

    <div class="box">
      <div class="box__txt">Hi.</div>
    </div>
  </section>

  <section class="sec">
    <header>
      <h2 class="ttl">Experiência</h2>
    </header>
  </section>

  <section class="sec">
    <header>
      <h2 class="ttl">Habilidades</h2>
    </header>
  </section>

  <section class="sec">
    <header>
      <h2 class="ttl">Projetos</h2>
    </header>
  </section>
</main>

{{ partial "footer/footer.html" . }}
