{{ partial "header/header.html" . }}

<section class="sec">
  <header class="hdr">
    <h2 class="ttl">
      <span class="stk">Formação</span>
    </h2>
  </header>

  <div class="box box--wrap pad-x">
    {{ partial "cv/education.html" . }}
  </div>

  <div class="[ box box--wrap box--outset box--small ] pad mb-last">
    <h3 class="tnormal f1">
      <span class="stk--small">Adicional</span>
    </h3>
    {{ partial "cv/education-additional.html" . }}
  </div>
</section>

<section class="sec">
  <header class="hdr">
    <h2 class="ttl">
      <span class="stk">Experiência</span>
    </h2>
  </header>

  <div class="box box--wrap pad-x">
    {{ partial "cv/experience.html" . }}
  </div>
</section>

{{ partial "footer/footer.html" . }}
