{{ partial "header/header.html" . }}

<section class="sec">
  <header class="pad mrgb">
    <h2 class="ttl">
      <span class="stroke">Formação</span>
    </h2>
  </header>

  <div class="box box--outset box--wrap pad">
    {{ partial "cv/education.html" . }}
  </div>

  <div class="[ box box--wrap box--outset box--small ] pad">
    <h3>
      <span class="stroke">Adicional</span>
    </h3>
  </div>
</section>

<section class="sec">
  <header class="pad mrgb">
    <h2 class="ttl">
      <span class="stroke">Experiência</span>
    </h2>
  </header>
</section>

<section class="sec">
  <header class="pad mrgb">
    <h2 class="ttl">
      <span class="stroke">Habilidades</span>
    </h2>
  </header>
</section>

<section class="sec">
  <header class="pad mrgb">
    <h2 class="ttl">
      <span class="stroke">Projetos</span>
    </h2>
  </header>
</section>

{{ partial "footer/footer.html" . }}
