.box {
  background: $white;
  border-top: $border;
  border-bottom: $border;

  @include respond-to('medium') {
    border: $border;
  }
}

.box--small {
  max-width: 80%;
}

.box--outset {
  position: relative;
  z-index: 2;

  &:after {
    content: "";
    background: $white;
    border: $border;
		top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    position : absolute;
    z-index: -2;
  }
}
