.btn {
  border: none;
  background: $blue;
  color: $white;
}

// TODO: not seeming right...
.btn--navcls {
  padding: 0;
  position: absolute;
  top: 5%;
  right: 9%;
  width: 8%;
  fill: $white;
}

.btn--menu {
  padding: 0;
  width: 7%;
  max-width: 45px;
  fill: $white;
}

.icon { display: block; }
