.card {
  border: $border;
  background: $white;
  width: 100%;
  margin: 1.5em 0;
  position: relative;

  @include respond-to('medium'){
    width: 45%;
    margin: 0 2.5% 1em 0;
    min-height: 200px;
  };

  @include respond-to('large'){
    width: 30%;
    margin: 0 1% 1em 0;
    min-height: 175px;
  };
}


.card__ttl {
  background: $black;
  color: $white;
}


.card__thumb {

}
