  <footer class="footer">
    <div class="row">
      <div class="ftr__col">
        <span class="upper bold stk--small">Felipe Rodopoulos</span>
      </div>
      <div class="ftr__col mrgu">
        <ul class="mrg0 nobullet">
          <li class="mrgb2"><a title="please, don't spam me" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></li>
          <li class="mrgb2"><a title="it ain't much, but it's honest work." href="https://{{ .Site.Params.github }}">{{ .Site.Params.github }}</a></li>
          <li class="fm1">design by <a title="that's her instagram" href="https://www.instagram.com/racheldenti/">rachel denti</a></li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
  {{ partial "footer/google-analytics.html" . }}
  {{/* {{ partial "footer/scripts.html" . }} */}}
</html>
